.gameOanTuXi {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(./assets/bgGameOanTuXi.png);
  background-size: 100%;
}

.player-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.think {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 10px;
  border: 5px solid #45d994;
}

.btn-item {
  width: 50px;
  height: 50px;
}

.btn-item img {
  width: 100%;
}

.speech-bubble {
  position: relative;
  background: #45d994;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top-color: #45d994;
  border-bottom: 0;
  border-left: 0;
  margin-left: -17.5px;
  margin-bottom: -35px;
}
